body {
    background-image: url(https://images.chinatimes.com/newsphoto/2019-10-13/656/20191013002057.jpg);
    background-size: cover;
    width: 100%;
    margin: 0px;
    /* max-width: 700px; */

}

div {
    display: block;
    padding: 0px;
    opacity: 90%;


}

img {
    max-width: 50%;
    display: block;
    height: auto;
    width: 90%;
    text-align: center;
    margin: auto;

}

#img-caption {
    background-color: rgb(195, 181, 181);
    width: auto;
    padding: 2px 5%;
    opacity: 100%;

}

h1,
h2,
p,
h3 {
    text-align: center;

}

.bold {
    font-weight: 800;
}

#img-caption2 {
    background: linear-gradient(#e66465 90%, white);
    padding: 2px 30%;
    width: auto;
}

h3 {
    font-size: 17px;
}

li {
    max-width: 1000px;
}

h2 {
    font-size: 30px;
}

.l {
    font-style: italic;
}