#number {
  width: 150px
}

body {
  background-image: url(https://cdn.nba.com/next/fallback.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten(50%);
  background-repeat: no-repeat;
}

#container {
  margin: auto;
  max-width: 400px;
}

form {
  background: #fffa;
}