body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(https://i.imgur.com/q9feBCp.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: Tahoma;
    font-size: 16px;
    color: white;
  }
  
  img{
    display: block;
    margin: 0 auto;
  }
  
  #title {
      font-size: 400%;
      width: 60vmax;
    }
  
  .center {
      margin: auto;
      padding: auto;
      text-align: center;
    }
  
  
  #image {
      max-width: 100%;
      height: auto;
      margin: auto;
    }
  
    @media only screen and (min-width:480px)
    {
  
    }
  
    @media only screen and (min-width:767px)
    {
      .font {
         padding: 0px 200px 15px 200px;
             }
  
    }
  
    @media only screen and (min-width:991px)
    {
  
    }
  
    @media only screen and (min-width:1200px)
    {

    }
  
    @media(orientation: landscape)
    {
  
    }